@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: hsl(230, 100%, 99%);
  color: hsl(225, 20%, 60%);
  font-size: 1.5rem;
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100% 52%;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#root {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
/* header */
header {
  background-image: url(./images/pattern-circles.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 41%;
}
h1 {
  color: hsl(227, 35%, 25%);
}
/* input range slider */
input[type="range"] {
  -webkit-appearance: none;
  background-color: hsl(224, 65%, 95%);
  border-radius: 50px;
  height: 40px;
  width: 100%;
  overflow: hidden;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: hsl(174, 86%, 45%);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -410px 0 0 400px hsl(174, 77%, 80%);
  cursor: pointer;
}
/* price */
.price-num {
  color: hsl(227, 35%, 25%);
}
.discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
}
/* info list */
li {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
/* start trial btn */
.start-trial-btn {
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
}
@media (hover) {
  .start-trial-btn:hover {
    background-color: hsl(227, 34%, 37%);
  }
}
/* desktop style */
@media (min-width: 768px) {
  div#root {
    min-width: 320px;
    max-width: 600px;
  }
  body {
    background-size: 100% 72%;
  }
  header {
    background-size: 30%;
  }
  /* info list */
  .info ul {
    align-items: flex-start;
  }
}
