@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: hsl(230, 100%, 99%);
  color: hsl(225, 20%, 60%);
  font-size: 1.5rem;
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#root {
  min-width: 327px;
  max-width: 467px;
  margin: 0 auto;
  text-align: center;
}
.App {
  padding-bottom: 45px;
}
/* header */
header {
  background-image: url(./images/pattern-circles.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 41%;
}
h1 {
  color: hsl(227, 35%, 25%);
}
/* main card shadow */
main {
  box-shadow: -10px 10px 2rem #e8ecfb, 10px 10px 2rem #e1e7f9;
}
/* price */
input {
  cursor: pointer;
}
label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  gap: 0.9rem;
}
.bill-type {
  width: calc(100% + 2rem);
}
p#yearly-billing {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.price-num {
  color: hsl(227, 35%, 25%);
}
.discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  font-size: 1rem;
}
/* info list */
li {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
/* start trial btn */
.start-trial-btn {
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
}
/* slider */
input[type="range"].styled-slider {
  -webkit-appearance: none;
  height: 2.4rem;
  width: 100%;
}
/* range slider - progress support */
input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2rem + var(--ratio) * (100% - 2rem));
}
/* webkit */
input[type="range"].styled-slider::-webkit-slider-thumb {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  margin-top: calc(max((1rem - 1px - 1px) * 0.5, 0px) - 3.5rem * 0.5);
  -webkit-appearance: none;
  background: hsl(174, 86%, 45%);
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* cursor: grab; */
  /* transition: background-color 300ms ease-in-out; */
}
input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 1.2rem;
  border-radius: 25px;
  background: hsl(224, 65%, 95%);
  box-shadow: none;
}
input[type="range"].styled-slider::-webkit-slider-thumb:hover {
  background: #57e1d4;
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}
input[type="range"].styled-slider:hover::-webkit-slider-runnable-track {
  background: hsl(224, 65%, 95%);
}
input[type="range"].styled-slider::-webkit-slider-thumb:active {
  background: hsl(174, 86%, 45%);
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}
input[type="range"].styled-slider:active::-webkit-slider-runnable-track {
  background: hsl(224, 65%, 95%);
}
input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(hsl(174, 86%, 45%), hsl(174, 86%, 45%)) 0 / var(--sx) 100% no-repeat,
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat,
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
/* mozilla */
input[type="range"].styled-slider::-moz-range-thumb {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: hsl(174, 86%, 45%);
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
input[type="range"].styled-slider::-moz-range-track {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 25px;
  background: #efefef;
  box-shadow: none;
}
input[type="range"].styled-slider::-moz-range-thumb:hover {
  background: #57e1d4;
}
input[type="range"].styled-slider:hover::-moz-range-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider::-moz-range-thumb:active {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider:active::-moz-range-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider.slider-progress:active::-moz-range-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
/* ms */
input[type="range"].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}
input[type="range"].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}
input[type="range"].styled-slider::-ms-thumb {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: hsl(174, 86%, 45%);
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-top: 0;
  box-sizing: border-box;
}
input[type="range"].styled-slider::-ms-track {
  height: 1.5rem;
  border-radius: 25px;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="range"].styled-slider::-ms-thumb:hover {
  background: #57e1d4;
}
input[type="range"].styled-slider:hover::-ms-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider::-ms-thumb:active {
  background: hsl(174, 86%, 45%);
}
input[type="range"].styled-slider:active::-ms-track {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5rem 0 0 0.5rem;
  margin: -1px 0 -1px -1px;
  background: hsl(174, 86%, 45%);
  border-right-width: 0;
}
input[type="range"].styled-slider.slider-progress:hover::-ms-fill-lower {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
input[type="range"].styled-slider.slider-progress:active::-ms-fill-lower {
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 / var(--sx) 100% no-repeat
    hsl(224, 65%, 95%);
}
/* toggle */
input[role="switch"] {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  /* margin: -0.2rem 0; */
  box-sizing: content-box;
  /* box-sizing: border-box; */
  padding: 0;
  border: none;
  border-radius: 25px;
  background: hsl(223, 50%, 87%);
  transition: background-color 250ms ease, box-shadow 250ms ease;
  font-size: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  height: 23px;
  min-width: 42px;
}
input[role="switch"]::before {
  content: "";
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  left: 0;
  /* top: 0; */
  top: 0.2rem;
  background: rgb(255 255 255 / 90%);
  border-radius: 50%;
  transform: translate(30%, 20%);
  transition: transform 250ms ease;
  color: white;
  line-height: 1;
  height: 14px;
  width: 14px;
}
input[role="switch"]:focus::before {
  background: rgba(255, 255, 255, 0.9);
}
input[role="switch"]:checked {
  background-color: hsl(174, 86%, 45%);
}
input[role="switch"]:focus-visible {
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.5) inset, 0 -0.5px 0 rgba(255, 255, 255, 0.2) inset,
    0 0 0 2px rgba(255, 255, 255, 0.8), 0 0 0 4px var(--bg-checked, var(--bg, rgb(60, 130, 250)));
}
input[role="switch"]:checked::before {
  transform: translate(170%, 20%);
}
input[role="switch"]:indeterminate::before {
  transform: translate(70%, 20%);
  content: "-";
}
input[role="switch"]:disabled:before {
  opacity: 0.4;
}
/* hover */
@media (hover) {
  .start-trial-btn:hover {
    background-color: hsl(227, 34%, 37%);
    color: white;
  }
  input[role="switch"]:hover {
    background-color: hsl(174, 77%, 80%);
  }
}
/* desktop style */
@media (min-width: 768px) {
  div#root {
    max-width: 550px;
  }
  body {
    background-size: 100% 72%;
  }
  header {
    background-size: 30%;
  }
  /* price */
  .bill-type {
    left: 3.5rem;
    left: 3rem;
    position: relative;
    font-size: 1.2rem;
  }
  label {
    gap: 1.2rem;
  }
  .discount {
    right: -0.7rem;
  }
  /* info list */
  .info ul {
    align-items: flex-start;
  }
}
